<div class="card bg-transparent border-success">
	<div class="card-header">
		<h4 class="font-weight-bold">{{name}}</h3>

		<button  class="change-eaten btn-sm btn-primary" data-id="{{id}}" data-neweaten="{{eaten}}">
			{{#if eaten}}EAT 'EM UP!{{else}}BARF 'EM BACK UP!{{/if}}
		</button>
			{{#unless eaten}}<button  class="delete-veggie btn-sm btn-secondary" data-id="{{id}}">POOP 'EM OUT!</button>{{/unless}}

	</div>
</div>

